header.header
	.header__container.container
		.header__inner
			a.header__logo(href='/')
				img(src="img/autofit-express.png", alt="")
			.header__contacts
				a.header__phone(href="tel:+380502555555")
					<svg width="20" height="20"><path d="M4.716 1.415c.661.544 1.211 1.181 1.697 1.865.446.629.845 1.29 1.211 1.974.478.886.112 1.663-.598 2.199l-.375.264c-.614.458-.773.963-.502 1.663.327.839.805 1.585 1.402 2.261.861.963 1.912 1.678 3.1 2.207.374.171.781.319 1.163.085.223-.132.406-.35.574-.559.287-.357.606-.676 1.036-.87.59-.256 1.187-.225 1.737.054.574.295 1.124.653 1.657 1.018l1.705 1.267c.932.746 1.116 1.585.55 2.618-.733 1.336-1.833 2.214-3.379 2.51-.016 0-.032.023-.048.031h-.486 0c-.207-.062-.43-.093-.63-.186l-2.789-1.274c-1.785-.917-3.426-2.044-4.933-3.357-1.291-1.119-2.446-2.37-3.458-3.737C2.15 9.822 1.178 8.073.389 6.224.063 5.447-.105 4.655.071 3.823.27 2.867.836 2.16 1.656 1.64c.43-.272.885-.482 1.387-.591.614-.14 1.179-.039 1.673.365zM10.836 0c.916-.008 1.825.093 2.701.373 2.215.707 3.913 2.059 5.14 3.986.877 1.36 1.307 2.859 1.323 4.475l-.072.777c-.072.326-.327.505-.709.521-.367.015-.669-.132-.765-.443-.072-.233-.088-.482-.12-.73-.183-1.608-.566-3.155-1.546-4.499-.717-.987-1.681-1.663-2.813-2.121-1.052-.427-2.159-.66-3.291-.785-.773-.085-.837-.653-.622-1.134.143-.319.446-.42.773-.42zm.351 2.533c2.797.171 5.036 1.826 5.865 4.25a5.9 5.9 0 0 1 .247 1.624l-.048.66c-.064.357-.343.559-.749.567-.398.016-.677-.163-.765-.521-.072-.28-.08-.567-.128-.847-.127-.699-.303-1.383-.653-2.02-.478-.847-1.235-1.352-2.152-1.647-.566-.179-1.155-.295-1.737-.435-.343-.078-.653-.194-.749-.583-.143-.575.263-1.088.869-1.049zm.478 2.618c.677.031 1.243.303 1.745.715.717.591 1.219 1.313 1.291 2.253a2.05 2.05 0 0 1-.048.622c-.08.357-.351.567-.709.583-.359.023-.661-.163-.789-.513-.064-.163-.088-.342-.119-.513-.12-.793-.614-1.305-1.41-1.476l-.502-.117c-.359-.109-.542-.326-.55-.637-.008-.365.191-.692.518-.8l.191-.049h0l.382-.067h0z"/></svg>
					<span>+38  (050) 255-55-55</span>
				a.header__social(href="#")
					<svg width="17" height="17"><path d="M13.945 3.047A7.82 7.82 0 0 0 8.402.75C4.067.75.555 4.25.555 8.57c0 1.367.384 2.734 1.043 3.883L.5 16.5l4.171-1.094c1.152.602 2.415.93 3.732.93 4.335 0 7.848-3.5 7.848-7.82-.055-2.023-.823-3.992-2.305-5.469zm-1.756 8.313c-.165.438-.933.875-1.317.93a3.08 3.08 0 0 1-1.207-.055c-.274-.109-.659-.219-1.098-.437-1.976-.82-3.238-2.789-3.348-2.953-.11-.109-.823-1.039-.823-2.023s.494-1.422.659-1.641.384-.219.549-.219h.384c.11 0 .274-.055.439.328s.549 1.367.604 1.422c.055.109.055.219 0 .328s-.11.219-.22.328-.22.273-.274.328c-.11.109-.22.219-.11.383.11.219.494.82 1.098 1.367.768.656 1.372.875 1.591.984s.329.055.439-.055.494-.547.604-.766.274-.164.439-.109 1.152.547 1.317.656c.22.109.329.164.384.219.055.164.055.547-.11.984z"/></svg>
				a.header__social(href="#")
					<svg width="16" height="17"><path d="M12.384.404a24.32 24.32 0 0 0-8.824 0C2.276.672.656 2.179.377 3.363a16.41 16.41 0 0 0 0 6.994c.335 1.184 1.955 2.69 3.183 2.959.056 0 .112.054.112.108v3.389c0 .161.223.269.335.108l1.675-1.668 1.564-1.56s.056-.054.112-.054c1.675.054 3.407-.108 5.082-.377 1.284-.269 2.904-1.775 3.183-2.959.503-2.313.503-4.681 0-6.994-.335-1.13-1.955-2.636-3.239-2.905zm.056 10.114c-.279.538-.614.968-1.173 1.237l-.503.161-.558-.161c-1.787-.699-3.463-1.668-4.803-3.067-.726-.807-1.34-1.722-1.843-2.69L2.946 4.6c-.168-.43.112-.861.391-1.184s.614-.538 1.005-.699c.279-.161.558-.054.782.161.447.538.894 1.076 1.229 1.668.223.377.168.807-.223 1.076-.112.054-.168.108-.279.215-.056.054-.168.108-.223.215-.112.161-.112.323-.056.484.447 1.237 1.284 2.206 2.569 2.744.223.108.391.161.67.161.391-.054.558-.484.838-.699s.614-.215.949-.054c.279.161.558.377.894.592l.838.592c.168.108.223.377.112.646zm-2.346-4.035c-.112 0-.056 0 0 0-.223 0-.279-.108-.335-.269 0-.108 0-.269-.056-.377a1.02 1.02 0 0 0-.391-.592l-.335-.161c-.168-.054-.279-.054-.447-.054-.168-.054-.223-.161-.223-.323 0-.108.168-.215.279-.215.894.054 1.564.538 1.675 1.56v.215c0 .108-.056.215-.168.215zm-.558-2.367c-.279-.108-.558-.215-.894-.269-.112 0-.279-.054-.391-.054-.168 0-.279-.108-.223-.269 0-.161.112-.269.279-.215.558.054 1.061.161 1.564.377 1.005.484 1.564 1.291 1.731 2.367v.161.377.161c-.056.215-.447.269-.503 0 0-.054-.056-.161-.056-.215 0-.484-.112-.968-.335-1.399-.335-.484-.726-.807-1.173-1.022zm3.016 3.228c-.168 0-.279-.161-.279-.323 0-.323-.056-.646-.112-.968-.223-1.722-1.675-3.12-3.407-3.389-.279-.054-.558-.054-.782-.108-.168 0-.391 0-.447-.215-.056-.161.112-.323.279-.323h.112 0c2.346.054 4.3 1.56 4.691 3.82.056.377.112.753.112 1.184.112.161 0 .323-.168.323z"/></svg>
			.header__contacts.header__contacts--socials
				a.header__email(href="mailto:support@gmail.com")
					<svg width="24" height="17"><path d="M8.486 9.556l.144.138 1.737 1.756c.95.957 2.3.95 3.256-.006l.477-.476.941-.941.456-.459 7.28 7.257-.762.164c-.1.019-.2.006-.306.006-6.48 0-12.961 0-19.441-.006-.337 0-.669-.082-1.006-.12.006-.032 0-.063-.006-.101l7.23-7.213zM23.834 1.26c.05.252.156.535.156.825v12.834c0 .283-.106.573-.163.862l-7.274-7.257 7.28-7.264zM.194 1.248l7.249 7.238-7.255 7.232-.187-.56V1.846l.194-.598zM2.237.002h19.516c.338 0 .669.038 1 .201l-.162.183-9.942 10.045c-.412.416-.881.416-1.294.006L1.412.392c-.05-.057-.106-.113-.2-.22l.769-.164c.081-.013.169-.006.256-.006z"/></svg>
					<span>support@gmail.com</span>
				a.header__social(href="#")
					<svg width="15" height="15"><path d="M10.572 0c.813.09 1.355.181 1.807.361.542.271.904.452 1.355.904s.723.904.904 1.355.361.994.361 1.807h0v6.145c-.09.813-.181 1.355-.361 1.807-.271.542-.452.904-.904 1.355s-.904.723-1.355.904-.994.361-1.807.361h0-6.145c-.813-.09-1.355-.181-1.807-.361-.542-.271-.904-.452-1.355-.904s-.723-.904-.904-1.355S0 11.386 0 10.572h0V4.428c.09-.813.181-1.355.361-1.807.271-.542.452-.904.904-1.355S2.169.542 2.62.361 3.614 0 4.428 0h0zm0 1.355H4.428c-.723.09-1.084.181-1.355.271-.361.09-.633.271-.904.542s-.361.542-.542.904c-.09.271-.271.633-.271 1.355h0v6.145c.09.723.181 1.084.271 1.355.09.361.271.633.542.904s.542.361.904.542c.271.09.633.271 1.355.271h0 6.145c.723-.09 1.084-.181 1.355-.271.361-.09.633-.271.904-.542s.361-.542.542-.904c.09-.271.271-.633.271-1.355h0V4.428c-.09-.723-.181-1.084-.271-1.355-.09-.361-.271-.633-.542-.904s-.542-.361-.904-.542c-.271-.09-.633-.271-1.355-.271h0zM7.5 3.614c2.169 0 3.886 1.717 3.886 3.886S9.669 11.386 7.5 11.386 3.614 9.669 3.614 7.5 5.331 3.614 7.5 3.614zm0 1.355c-1.446 0-2.53 1.175-2.53 2.53 0 1.446 1.175 2.53 2.53 2.53a2.59 2.59 0 0 0 2.53-2.53c0-1.446-1.175-2.53-2.53-2.53zm3.976-2.349c.499 0 .904.405.904.904s-.405.904-.904.904-.904-.405-.904-.904.405-.904.904-.904z"/></svg>
				a.header__social(href="#")
					<svg width="10" height="18"><path d="M6.243 9.274h2.792l.438-2.853H6.242V4.861c0-1.185.385-2.236 1.487-2.236H9.5V.135C9.189.093 8.531 0 7.287 0 4.691 0 3.169 1.379 3.169 4.522V6.42H.5v2.853h2.669v7.842c.529.08 1.064.134 1.614.134.497 0 .982-.046 1.46-.111V9.274z"/></svg>
			select.header__select.select
				option En
				option Ua
				option De
			button.header__burger
				<svg width="24" height="24">
					<rect width="24" height="3" y="3"/>
					<rect width="24" height="3" y="10.5"/>
					<rect width="24" height="3" y="18"/>
				</svg>
		.header__nav
			ul.header__list
				li
					a(href="/catalog") Каталог транспорта
				li.active
					a(href="#") Проверка иcтории авто
				li
					a(href="#") Доставка внутри страны
				li
					a(href="#") Продать/обменять
				li
					a(href="#") Сервис
				li
					a(href="#") Контакты
				li
					a(href="#") О&nbsp;компании
// only for demo
script.
	var burger = document.querySelector(".header__burger"),
		nav = document.querySelector(".header__nav");

	burger.onclick = function () {
		burger.classList.toggle("active");
		nav.classList.toggle("visible");
	}
					